

.navbar {
    background-color: #333;
    overflow: hidden;
    padding: 14px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: white;   
}
.navbar a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}