

.navbar {
    width: 100%;
    height: 60px;
    background-color: #f8f8f8;
    color : #333;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}