:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #171717;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.page-container {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.header{
  background-color: #ffffff;
  color : #171717;
  text-align: center;
  padding: 30px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: #6a6464 solid 5px;
  width: 50%;
  border-radius: 30px;
  padding-left: auto;
  padding-right: auto;

}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
