.container {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: left;
    color: #333;
    font-size: 11px;
    border-radius: 10px;
    width: 60 px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-weight: bold;
    margin-top: 80px;
}

.container:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}